@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: 0 0% 100%;
  --foreground: 216 20% 10%;

  --card: 0 0% 100%;
  --card-foreground: 216 20% 10%;

  --popover: 0 0% 100%;
  --popover-foreground: 216 20% 10%;

  --primary: 20 99% 55%;
  --primary-foreground: 0 0% 100%;

  --secondary: 180 9% 98%;
  --secondary-foreground: 216 20% 10%;

  --muted: 210 15% 95%;
  --muted-foreground: 225 23% 39%;

  --accent: 19 100% 96%;
  --accent-foreground: 20 99% 40%;

  --destructive: 0 65% 50%;
  --destructive-foreground: 0 0% 100%;

  --border: 224 14% 85%;
  --input: 224 14% 85%;
  --ring: 20 99% 55%;

  --chart-1: 215 90% 47%;
  --chart-2: 250 50% 60%;
  --chart-3: 322 55% 55%;
  --chart-4: 195 65% 40%;
  --chart-5: 84 50% 55%;

  --sidebar: 210 15% 95%;
  --sidebar-foreground: 216 20% 10%;
  --sidebar-primary: 20 99% 55%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 19 100% 96%;
  --sidebar-accent-foreground: 20 99% 40%;
  --sidebar-border: 224 14% 85%;
  --sidebar-ring: 20 99% 55%;

  --radius: 0.5rem;
}

.dark {
  --background: 216 20% 10%;
  --foreground: 0 0% 100%;

  --card: 219 19% 14%;
  --card-foreground: 0 0% 100%;

  --popover: 216 20% 10%;
  --popover-foreground: 0 0% 100%;

  --primary: 20 99% 55%;
  --primary-foreground: 0 0% 100%;

  --secondary: 219 19% 14%;
  --secondary-foreground: 0 0% 100%;

  --muted: 0 0% 0%;
  --muted-foreground: 224 14% 85%;

  --accent: 20 80% 16%;
  --accent-foreground: 20 100% 79%;

  --destructive: 0 70% 40%;
  --destructive-foreground: 0 0% 100%;

  --border: 225 23% 39%;
  --input: 225 23% 39%;
  --ring: 20 99% 55%;

  --chart-1: 215 100% 65%;
  --chart-2: 249 70% 73%;
  --chart-3: 323 84% 80%;
  --chart-4: 195 70% 75%;
  --chart-5: 84 61% 80%;

  --sidebar: 219 19% 14%;
  --sidebar-foreground: 0 0% 100%;
  --sidebar-primary: 20 99% 55%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 20 80% 16%;
  --sidebar-accent-foreground: 20 100% 79%;
  --sidebar-border: 225 23% 39%;
  --sidebar-ring: 20 99% 55%;
}

@theme inline {
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));
  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));
  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));
  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-chart-1: hsl(var(--chart-1));
  --color-chart-2: hsl(var(--chart-2));
  --color-chart-3: hsl(var(--chart-3));
  --color-chart-4: hsl(var(--chart-4));
  --color-chart-5: hsl(var(--chart-5));

  --color-sidebar: hsl(var(--sidebar));
  --color-sidebar-foreground: hsl(var(--sidebar-foreground));
  --color-sidebar-primary: hsl(var(--sidebar-primary));
  --color-sidebar-primary-foreground: hsl(var(--sidebar-primary-foreground));
  --color-sidebar-accent: hsl(var(--sidebar-accent));
  --color-sidebar-accent-foreground: hsl(var(--sidebar-accent-foreground));
  --color-sidebar-border: hsl(var(--sidebar-border));
  --color-sidebar-ring: hsl(var(--sidebar-ring));

  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);
  --font-mono: var(--font-mono);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-border, currentColor);
  }
}
